<!-- <app-nav-bar></app-nav-bar> -->


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    
</head>


    <form class="form-signin">
        <form #userDetails="ngForm" (ngSubmit)="onSubmitSignUp()" required class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username" name="userName" required [(ngModel)]="user.username" />
            </div>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="FirstName" name="firstName" required [(ngModel)]="user.firstName" />
            </div>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="LastName" name="lastName" required [(ngModel)]="user.lastName" />
            </div>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Contact" name="contactNumber" required [(ngModel)]="user.contactNumber"/>
            </div>
            <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Email" name="email"  required [(ngModel)]="user.email" />
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password"  pattern=".{8,}" title="Eight or more characters" name="password" required [(ngModel)]="user.password" />
            </div>
            <input type="submit" class="btn" value="Sign up" />
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
                <a href="#" class="social-icon">
                    <i class="fab fa-google"></i>
                </a>

            </div>
        </form>


