<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <title>Sign in & Sign up Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


<body>

    <h2>HTML Table</h2>
    <h3>{{message}}</h3>
    <table>
        <tr>
            <th>Bid Id</th>
            <th>Bid Amount</th>
            <th>Product Id</th>
            <th>Seller Id</th>
            <th>Bidded Time</th>
            <th>User Id</th>
            <th>Options</th>
        </tr>
        <tr *ngFor="let bidData of bidList">
            <td>{{bidData.bidId}}</td>
            <td>{{bidData.bidAmount}}</td>
            <td>{{bidData.productId}}</td>
            <td>{{bidData.sellerId}}</td>
            <td>{{bidData.timeBidded | date : 'y:M:d'}} <b> Time:-</b> {{bidData.timeBidded | date: 'h:mm a'}}
            </td>
            <td>{{bidData.userId}}</td>
            <a class="card-link" class="w3-button w3-deep-purple w3-small"
            (click)="sendEmail(bidData.bidId)">Send Email</a>


        </tr>

    </table>

</body>

</html>