<nav role="navigation">
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a>
        <li>Home</li>
      </a>
      <a href="#">
        <li>About Us</li>
      </a>
      <a routerLink="userallproduct">
        <li>Product List</li>
      </a>
      <a href="#">
        <li>Trending Products</li>
      </a>
      <a *ngIf="loggedIn && type=== 'SELLER'" onclick="document.getElementById('id03').style.display='block'">
        <li>Add Product</li>
      </a>
      <a *ngIf="loggedIn" routerLink="myprofile">
        <li>Edit Profile</li>
      </a>
    </ul>
  </div>

</nav>

<ul class=" menu-bar" style="background-color: #56a0d3; align-content: center;">
  <li>Navigation</li>
  <li>My Auctions</li>
  <li>GetItEasy</li>

  <li><a class="checkboxes" mat-icon-button>{{name}}</a></li>

  <li><a class="checkboxes" *ngIf="loggedIn" (click)="logoutUser()" mat-icon-button>Logout</a></li>
</ul>





<div id="id03" class="w3-modal" style="display: none;">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom custom-model" style="max-width:700px">

    <div class="w3-center"><br>
      <span onclick="document.getElementById('id03').style.display='none'"
        class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
    </div>

    <form class="w3-container" action="/action_page.php">
      <div class="w3-section">
        <label><b>Product name</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Product name" name="productName"
          required>
        <label><b>Product type</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Product type" name="productType"
          required>
        <label><b>Product description</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Product description"
          name="productDescription" required>
        <label><b>Initial amount</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Product type"
          name="initialBiddingAmount" required>
        <label class="form-label" for="customFile">Default file input example</label>
        <input type="file" class="form-control" id="customFile" />
        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
      </div>
    </form>

    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey" style="align-items: center;">
      <button onclick="document.getElementById('id03').style.display='none'" type="button"
        class="w3-button w3-red">Cancel</button>

    </div>

  </div>
</div>