<nav role="navigation">
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a routerLink="">
        <li>Home</li>
      </a>
      <a routerLink="aboutus">
        <li>About Us</li>
      </a>
      <a routerLink="userallproduct">
        <li>Product List</li>
      </a>
      <a *ngIf="loggedIn && type=== 'ADMIN'" routerLink="adminuserlist">
        <li>All Users</li>
      </a>
      <a *ngIf="loggedIn && type=== 'ADMIN'" routerLink="adminbiddinglist">
        <li>Bid Details</li>
      </a>
      <a>

        <li>Trending Products</li>
      </a>
      <a *ngIf="loggedIn && type=== 'SELLER'" onclick="document.getElementById('id03').style.display='block'">
        <li>Add Product</li>
      </a>
      <a *ngIf="loggedIn && type=== 'ADMIN'" routerLink="adminproductlist">
        <li>All Product</li>
      </a>
      <a *ngIf="loggedIn" routerLink="myprofile">
        <li>Edit Profile</li>
      </a>
    </ul>
  </div>

</nav>

<ul class=" menu-bar" style="background-color: #56a0d3; align-content: center;">
  <li>Navigation</li>
  <li>My Auctions</li>
  <li>GetItEasy</li>

  <li *ngIf="loggedIn"><a class="checkboxes" mat-icon-button>{{name}}</a></li>

  <li *ngIf="!loggedIn" ><a class="checkboxes " routerLink="login" style="text-decoration: none; color: white; "  mat-icon-button>SignUp/SignIn</a></li>

  <li *ngIf="loggedIn"><a class="checkboxes" (click)="logoutUser()" mat-icon-button>Logout</a></li>
</ul> 





<div id="id03" class="w3-modal" style="display: none;">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom custom-model" style="max-width:700px">

    <div class="w3-center"><br>
      <span onclick="document.getElementById('id03').style.display='none'"
        class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
    </div>

    <form class="w3-container" #Product (ngSubmit)=createProduct()>
      <div class="w3-section">
        <label><b>{{message}}</b></label>
        <label><b>Product name :</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Product name" name="productName"
          [(ngModel)]="product.productName" required>
        <label><b>Product type</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Product type" name="productType"
          [(ngModel)]="product.productType" required>
        <label><b>Product description</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Product description"
          name="productDescription" [(ngModel)]="product.productDescription" required>
        <label><b>Initial amount</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Product type"
          name="initialBiddingAmount" [(ngModel)]="product.initialBiddingAmount" required>
        <label class="form-label" for="customFile">Insert a image:</label>
        <input type="file" class="form-control" #Image id="customFile" (change)="onFileSelected($event)" />
        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
      </div>
    </form>

    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey" style="align-items: center;">
      <button onclick="document.getElementById('id03').style.display='none'" type="button"
        class="w3-button w3-red">Cancel</button>

    </div>

  </div>
</div>