<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <title>Sign in & Sign up Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <!-- Custom card for showing products and its details -->

    <div class="container ">
        <div>
        <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchProducts(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search products" required>
             <a *ngIf="type === 'BUYER'" class="card-link" class="w3-button w3-deep-purple w3-small"
             (click)="getMyBiddedProducts()">My Auction</a>
        </form>
         </div>
        <div class="wrapper slock">
            <div class="card" style="width: auto;" *ngFor="let product of products">
                <img class="card-img-top" src="{{product.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{product.productName}}</h5>
                    <p class="card-text">{{product.productDescription}}</p>
                </div>
                <div class="card-footer" *ngIf=" type=== 'SELLER' || type=== 'ADMIN'">
                    <a class="card-link" onclick="document.getElementById('id01').style.display='block'"
                        class="w3-button w3-green w3-small" (click)="setProduct(product)">Edit</a>
                    <!-- <span><a class="card-link"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a></span> -->

                    <a class="card-link" class="w3-button w3-deep-purple w3-small"
                        (click)="deleteProductDetail(product.productId)">Delete</a>

                </div>

                <div class="card-footer" *ngIf=" type=== 'BUYER'">
                    <a class="card-link" onclick="document.getElementById('id02').style.display='block'"
                        class="w3-button w3-green w3-small" (click)="setProduct(product)">View</a>
                    <button><a class="card-link">Bid</a></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Customs Model box for editing details (SELLER)-->

    <div id="id01" class="w3-modal" *ngIf=" type=== 'SELLER' || type==='ADMIN'">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom custom-model" style="max-width:400px">

            <div class="w3-center"><br>
                <span onclick="document.getElementById('id01').style.display='none'"
                    class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                <img src="{{product.url}}" alt="Avatar" style="width:40%" class="w3-circle w3-margin-top">
            </div>

            <form class="w3-container" (ngSubmit)="updateProduct()" #updateproductform="ngForm">
                <div class="w3-section">
                    <label><b>Product name</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" [(ngModel)]="product.productName"
                        name="productName" required>
                    <label><b>Product type</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" [(ngModel)]="product.productType"
                        name="productType" required>
                    <label><b>Product Description</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text"
                        [(ngModel)]="product.productDescription" name="productDescription" required>
                    <label><b>Original Price</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text"
                        [(ngModel)]="product.initialBiddingAmount" name="initialBiddingAmount" required>
                    <label><b>Current Price</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text"
                        placeholder="{{product.lastBiddedAmount}}" name="lastBiddedAmount" disabled>

                    <p><b>Closing date:- {{product.closingDate | date}}</b></p>

                    <p>The time is {{product.closingDate | date:'h:mm a '}}</p>

                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Customs Model box for editing details (BUYER)-->

    <div id="id02" class="w3-modal" *ngIf=" type=== 'BUYER'">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom custom-model" style="max-width:400px">

            <div class="w3-center"><br>
                <span onclick="document.getElementById('id02').style.display='none'"
                    class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                <img src="{{product.url}}" alt="Avatar" style="width:40%" class="w3-circle w3-margin-top">
            </div>

            <form class="w3-container" (ngSubmit)="addBidding()" #bidform="ngForm">
                <div class="w3-section">
                    <label><b>Product name</b></label>
                    <p>{{product.productName}}</p>
                    <label><b>Product type</b></label>
                    <p>{{product.productName}}</p>
                    <label><b>Highest Bid</b></label>
                    <p>{{product.lastBiddedAmount}}</p>
                    <label><b>Enter your amount</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter your amount"
                        [(ngModel)]="bidRequest.bidAmount" name="bidAmount" required>
                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
                </div>
            </form>

            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey" style="align-items: center;">
                <button onclick="document.getElementById('id02').style.display='none'" type="button"
                    class="w3-button w3-red">Cancel</button>

            </div>

        </div>
    </div>
</body>