<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get It Easy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

    <div class="container">
        <!-- Section 1 -->
        <section class="section-1" id="home">
            <nav class="navbar">
                
                <a class="navbar-link">Team</a>
                <a class="navbar-link">Contact</a>
            </nav>
            <div class="floating-bg"></div>
            <h1 class="section-1-heading">Get It Easy</h1>
            <div class="logo">
                <i class="fas fa-bezier-curve"></i>
            </div>
        </section>
        <!-- End of Section 1 -->

        <!-- Section 2 -->
        <section class="section-2" id="customers">
            <h1 class="section-heading">Customers</h1>
            <div class="customers-wrapper">
                <div class="customer">
                    <i class="fas fa-quote-left"></i>
                    <p class="customer-text">"Look at your past and smile because your future is beautiful"</p>
                    <div class="customer-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <img src="./assets/images/joker.jpg" class="customer-img">
                    <h4 class="customer-name">Aman Jaiswal</h4>
                </div>
                <div class="customer">
                    <i class="fas fa-quote-left"></i>
                    <p class="customer-text">"Nothing is possible when everything is possible"</p>
                    <div class="customer-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <img src= "./assets/images/warren-wong-bh4LQHcOcxE-unsplash.jpg" class="customer-img">
                    <h4 class="customer-name">Shubham</h4>
                </div>

                <div class="customer">
                    <i class="fas fa-quote-left"></i>
                    <p class="customer-text">"Work Within"</p>
                    <div class="customer-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <img src="./assets/images/thomas-dacker-6gOp83ads7M-unsplash.jpg"class="customer-img">
                    <h4 class="customer-name">Yashswini</h4>
                </div>
                <div class="customer">
                    <i class="fas fa-quote-left"></i>
                    <p class="customer-text">work on it!!</p>
                    <div class="customer-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <img src="./assets/images/river.jpg" class="customer-img">
                    <h4 class="customer-name">Ankita Das</h4>
                </div>
                <div class="customer">
                    <i class="fas fa-quote-left"></i>
                    <p class="customer-text">Let me think</p>
                    <div class="customer-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <img src="./assets/images/river.jpg" class="customer-img">
                    <h4 class="customer-name">Lakshmi Narayan</h4>
                </div>
            </div>
        </section>
        <!-- End of Section 2 -->

        <!-- Section 4 -->
        <section class="section-4" id="contact">
            <h1 class="section-heading">Contact</h1>
            <div class="form-container">
                <img src="./assets/images/river.jpg" class="form-img">
                <form class="contact-form">
                    <input type="text" placeholder="Your Name">
                    <input type="email" placeholder="Your Email">
                    <textarea placeholder="Your Message"></textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
            <p class="copyright">
                Copyright &copy; Get It Easy - Created & Managed by Team-5 | A Zensar Product
            </p>
        </section>
        <!-- End of Section 4 -->

    </div>

</body>

</html>